@import "./global.scss";

#App {
  @extend %Screen;
  border: 1px solid black;
}

#Ui {
  @extend %Screen;
  // display: grid;
  // grid-auto-flow: column;
}

#Video {
  // position: relative;
  // display: inline-block;
  // top: 65px;
  margin: 10px;
  width: auto;
  height: 64px;
  border-radius: 4px;
  filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.5));
}

.UidTxt {
  margin: 10px !important;
}

.ConnBtn {
  margin: 10px !important;
}

#Car {
  line-height: 125%;
  font-size: 64px;
  // border: 1px solid;
}
