#Sprite {
  position: absolute;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  width: 64px;
  height: 64px;
  overflow: hidden;
  border: 1px solid;
}

#Sprite img {
  position: absolute;
}
